* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
        color: cyan;
        cursor: pointer;
    }
    li {
        list-style: none;
    }
    font-family: "VERDANA", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(10, 10, 10);
    overflow-x: hidden;
}

.lime {
    color: lime;
}

.body-header {
    height: 90vh;
    width: 100vw;
    border-top: 1px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;

    .ag-timeline-prevblock {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 3rem;
        z-index: 2;
        &-1 {
            text-shadow:
                1px 1px 4px,
                #000;
        }
        &-btn {
            width: 11rem;
            height: 4rem;
            margin-top: 3rem;
            a {
                text-shadow: 1px 1px 6px cyan;
            }
        }
    }

    .svg {
        position: absolute;
        height: 2rem;
        width: auto;
        transform-origin: center;
        transform-box: fill-box;
    }

    #svgFish1 {
        top: 30%;
        left: 2%;
        animation:
            fishFloat 1s linear infinite,
            fishTravel 40s linear infinite;
    }

    #svgFish2 {
        top: 10%;
        left: 12%;
        animation:
            fishFloat 1s linear infinite,
            fishTravel 40s linear infinite;
    }
    #svgFish3 {
        top: 52%;
        left: 25%;
        animation:
            fishFloat 1s linear infinite,
            fishTravel 40s linear infinite;
    }

    #svgFish4 {
        top: 72%;
        left: 37%;
        animation:
            fishFloat 1s linear infinite,
            fishTravel 40s linear infinite;
    }
    #svgFish5 {
        top: 86%;
        left: 50%;
        animation:
            fishFloat 1s linear infinite,
            fishTravel 40s linear infinite;
    }

    @keyframes fishFloat {
        0% {
            transform: rotateZ(10deg);
        }
        50% {
            transform: rotateZ(-2deg);
        }
        100% {
            transform: rotateZ(10deg);
        }
    }

    @keyframes fishTravel {
        0% {
            transform: translateX(-100vw) rotateY(180deg);
        }
        50% {
            transform: translateX(100vw) rotateY(180deg);
        }
        51% {
            transform: translateX(100vw) rotateY(0deg);
        }
        100% {
            transform: translateX(-100vw) rotateY(0deg);
        }
    }
    #svgGrass {
        height: 12rem;
        bottom: 1%;
        left: 5%;
        animation: grassMove 1s linear infinite;
    }
    #svgGrass2 {
        height: 12rem;
        bottom: 0rem;
        left: 50%;
        transform: translateX(-50%);
        animation: grassMove1 1s linear infinite;
    }
    #svgGrass3 {
        height: 12rem;
        right: 5%;
        animation: grassMove1 1s linear infinite;
    }

    @keyframes grassMove {
        0% {
            transform: rotateX(19deg) translateY(0);
        }
        50% {
            transform: rotateX(-9deg) translateY(5px);
        }
        100% {
            transform: rotateX(19deg) translateY(0);
        }
    }
    @keyframes grassMove1 {
        0% {
            transform: rotateX(19deg);
        }
        50% {
            transform: rotateX(-9deg);
        }
        100% {
            transform: rotateX(19deg);
        }
    }
}

.explorebtn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    line-height: 1;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow:
        rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    overflow: hidden;
    padding: auto 16px;
    text-align: left;
    transition:
        box-shadow 0.15s,
        transform 0.15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    user-select: none;
    -webkit-user-select: none;

    &:focus {
        box-shadow:
            #3c4fe0 0 0 0 1.5px inset,
            rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #3c4fe0 0 -3px 0 inset;
    }
    &:hover {
        text-decoration: none;
        box-shadow:
            rgba(45, 35, 66, 0.4) 0 4px 8px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #3c4fe0 0 -3px 0 inset;
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }
}

/*------------------------*/

.ag-format-container {
    width: 1160px;
    margin: 0 auto;
    position: relative;
}

.ag-timeline_item:nth-child(2n) {
    text-align: right;
}

.ag-timeline {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    &_tagline {
        color: lime;
        font-size: 3rem;
    }
    &-nav {
        color: rgb(83, 255, 246);
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
        height: 3rem;

        &--item {
            flex-basis: 20%;
        }
    }
    &_title {
        color: lime;
        font-size: 80px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;

        &-box {
            padding: 2.5rem 0;
            margin-bottom: 3rem;
            text-align: center;
        }
    }
    &_line {
        width: 2px;
        background-color: #393935;

        position: absolute;
        top: 2px;
        left: 50%;
        bottom: 0;

        overflow: hidden;

        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        &-progress {
            width: 100%;
            height: 20%;
            background-color: springgreen;
        }
    }
    &-card {
        &_box {
            padding: 0 0 1.2rem 50%;
        }
        &_point-box {
            display: inline-block;
            margin: 0 14px 0 -28px;
        }
        &_point {
            height: 50px;
            line-height: 50px;
            width: 50px;
            border: 2px solid cyan;
            background-color: #1d1d1b;

            text-align: center;
            font-family: "ESL Legend", sans-serif;
            font-size: 20px;
            color: #fff;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        &_meta-box {
            display: inline-block;
        }
        &_meta {
            margin: 10px 0 0;
            font-size: 2rem;
            color: white;
        }
        &_item {
            position: relative;
            display: inline-block;
            width: 45%;
            margin: -77px 0 0;
            opacity: 0;
            height: auto;

            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;

            -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
            -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);

            -webkit-transition:
                -webkit-transform 0.5s,
                opacity 0.5s;
            -moz-transition:
                -moz-transform 0.5s,
                opacity 0.5s;
            -o-transition:
                -o-transform 0.5s,
                opacity 0.5s;
            transition:
                transform 0.5s,
                opacity 0.5s;

            .ag-timeline-card_img-box {
                height: 100%;
                width: 100%;

                .ag-timeline-card_img {
                    width: 100%;
                    height: auto;
                }
            }
            &_info {
                padding: 20px 30px;

                &_title {
                    display: none;
                    margin: 10px 0 0;
                    font-weight: bold;
                    font-size: 28px;
                    color: white;
                }
            }
            &_arrow {
                height: 18px;
                width: 18px;
                margin-top: 20px;
                background-color: #282828;

                z-index: -1;
                position: absolute;
                top: 0;
                right: 0;

                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        &_desc {
            line-height: 1.45;
            font-size: 16px;
            color: coral;
            margin: auto 2.65rem auto 3rem;
            text-align: justify;
        }
        &_btn {
            height: 3rem;
            margin: 1rem auto auto 3rem;
            width: 25%;
            letter-spacing: 2px;
        }
    }

    &_item {
        position: relative;
        margin: 0 0 50px;

        &:nth-child(2n) {
            .ag-timeline-card_box {
                padding: 0 50% 20px 0;
            }
            .ag-timeline-card_point-box {
                margin: 0 -25px 0 14px;
            }
            .ag-timeline-card_arrow {
                margin-left: -10px;
                right: auto;
                left: 0;
            }

            .ag-timeline-card_item {
                -webkit-transform: translateX(200%);
                -moz-transform: translateX(200%);
                -ms-transform: translateX(200%);
                -o-transform: translateX(200%);
                transform: translateX(200%);
            }
        }
    }

    &:nth-child(2n + 1) {
        .ag-timeline-card_arrow {
            margin-left: calc(-18px / 2);
            margin-right: calc(-18px / 2);
        }
        .ag-timeline-card_item {
            -webkit-transform: translateX(-200%);
            -moz-transform: translateX(-200%);
            -ms-transform: translateX(-200%);
            -o-transform: translateX(-200%);
            transform: translateX(-200%);
        }
    }
}
.js-ag-active.ag-timeline-card_point {
    color: lime;
}

.js-ag-active.ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;

    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

/* ********RESPONSIVE CODE********* */

@media only screen and (max-width: 979px) {
    .ag-timeline_line {
        left: 30px;
    }

    .ag-timeline_item:nth-child(2n) {
        text-align: left;
    }

    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
        padding: 0 0 20px;
    }

    .ag-timeline-card_meta-box {
        display: none;
    }

    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
        margin: 0 0 0 8px;
    }

    .ag-timeline-card_point {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }

    .ag-timeline-card_item {
        width: auto;
        margin: -65px 0 0 75px;
    }

    .ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }

    .ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_arrow {
        right: auto;
        left: 0;
    }

    .ag-timeline-card_title {
        display: block;
    }

    .ag-timeline-card_arrow {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

    .ag-timeline-card_img {
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 639px) {
    .ag-timeline_title {
        font-size: 60px;
    }

    .ag-timeline-card_info {
        padding: 10px 15px;
    }

    .ag-timeline-card_desc {
        font-size: 14px;
    }
}

@media only screen and (max-width: 479px) {
}

@media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
        width: 750px;
    }
}

@media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
        width: 960px;
    }
}

/* **********STARLIGHT BG CODE********* */
#starLight-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#starLight-Bg {
    width: 100%;
    height: 100%;
    border: none;
}
